<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="ralcock.cbf"
          android:versionCode="7"
          android:versionName="3.0.1"
          android:installLocation="auto">

    <uses-permission
            android:name="android.permission.INTERNET"/>

    <uses-permission
            android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-sdk android:minSdkVersion="4" android:targetSdkVersion="15"/>

    <application android:label="Cambridge Beer Festival" android:icon="@drawable/caskman">

        <activity android:name=".CamBeerFestApplication"
                  android:windowSoftInputMode="stateAlwaysHidden"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".view.BeerDetailsActivity">
            <intent-filter>
                <action android:name="ralcock.cbf.VIEW_BEER_DETAILS"/>
            </intent-filter>
        </activity>

    </application>
</manifest> 
