<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="ralcock.cbf"
          android:allowBackup="true"
          android:versionCode="16"
          android:versionName="4.0.5"
          android:installLocation="auto">

    <uses-permission
            android:name="android.permission.INTERNET"/>

    <uses-permission
            android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-sdk
            android:minSdkVersion="7"
            android:targetSdkVersion="19"/>

    <application
            android:label="Cambridge Beer Festival"
            android:theme="@style/Theme.Sherlock"
            android:icon="@drawable/ic_caskman">

        <activity
                android:name=".CamBeerFestApplication"
                android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".view.BeerDetailsActivity">
            <intent-filter>
                <action android:name="ralcock.cbf.VIEW_BEER_DETAILS"/>
            </intent-filter>
        </activity>

        <service android:name="ralcock.cbf.service.UpdateService"/>

    </application>
</manifest>
